# .aliases
# Sets and/or modifies shell aliases

# Set aliases
alias diff='diff --color=auto --tabsize=4'
alias grep='grep --color=auto'
alias ls='ls -hp --color=auto'
alias la='ls -ahp --color=auto'
alias ll='ls -ahlp --color=auto'
alias l.='ls -d .* -hp --color=auto'
alias vim='nvim'

# Run os_aliases function (Set and/or modify os specific aliases)
os_aliases
