# .envrc (.profile)

# Set XDG data/config/cache/... directory location env-vars
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"

# Add ~/.local/bin to PATH
echo "$PATH" | grep -q "$HOME/.local/bin" || export PATH="$HOME/.local/bin:$PATH"

# Add ~/.cargo/bin to PATH
echo "$PATH" | grep -q "$HOME/.cargo/bin" || export PATH="$HOME/.cargo/bin:$PATH"

# Add ~/.scripts to PATH
echo "$PATH" | grep -q "$HOME/.scripts" || export PATH="$HOME/.scripts:$PATH"

# Set common user-preference env-vars
export EDITOR=nvim
export TERMINAL=alacritty
export BROWSER=firefox

# Set util-specific data/config/cache/... location env-vars
# - (X11)
export XAUTHORITY="$XDG_RUNTIME_DIR/Xauthority"
export XINITRC="$HOME/.config/X11/xinitrc"
export XRESOURCES="$HOME/.config/X11/Xresources"
export XMODMAP="$HOME/.config/X11/Xmodmap"

# Set util-specific application-configuration env-vars
# - (less)
export LESS='-RF --tabs=4'
# - (pfetch)
export PF_ASCII='fedora'
export PF_INFO='ascii title os kernel uptime pkgs shell memory palette'
