# .envrc (.profile)

# Set XDG data/config/cache/... directory location env-vars
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"

# Add ~/.local/bin to PATH
echo "$PATH" | grep -q "$HOME/.local/bin" || export PATH="$HOME/.local/bin:$PATH"

# Set common user-preference env-vars
export EDITOR=nvim
export TERMINAL=konsole
export BROWSER=firefox

# Set util-specific data/config/cache/... location env-vars
# - (X11)
export XAUTHORITY="$HOME/.local/share/Xauthority"
export XINITRC="$HOME/.config/X11/xinitrc"
export XRESOURCES="$HOME/.config/X11/Xresources"
export XMODMAP="$HOME/.config/X11/Xmodmap"

# Set util-specific application-configuration env-vars
# - (pfetch)
export PF_INFO='ascii title os kernel uptime pkgs shell memory'
